name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build-generic-firmware:
    name: Build Generic Firmware
    uses: esphome/workflows/.github/workflows/build.yml@jesserockz-2024-336
    with:
      files: |
        esp32-generic/esp32-generic.factory.yaml
        esp32-generic/esp32-generic-c3.factory.yaml
      esphome-version: 2024.7.3
      combined-name: esp32-generic
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.url || '' }}
      release-version: ${{ github.event_name == 'release' && github.event.release.tag_name || '' }}

  build-device-firmware:
    name: Build Device Firmware
    uses: esphome/workflows/.github/workflows/build.yml@jesserockz-2024-336
    with:
      files: |
        gl-inet/gl-s10.factory.yaml
        lilygo/lilygo-t-eth-poe.factory.yaml
        m5stack/m5stack-atom-lite.factory.yaml
        m5stack/m5stack-atom-s3.factory.yaml
        olimex/olimex-esp32-poe-iso.factory.yaml
        wt32/wt32-eth01.factory.yaml
      esphome-version: 2024.7.3
      release-summary: ${{ github.event_name == 'release' && github.event.release.body || '' }}
      release-url: ${{ github.event_name == 'release' && github.event.release.url || '' }}
      release-version: ${{ github.event_name == 'release' && github.event.release.tag_name || '' }}

  upload:
    if: github.event_name == 'release' || (github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main')
    name: Upload to R2
    needs:
      - build-generic-firmware
      - build-device-firmware
    uses: esphome/workflows/.github/workflows/upload.yml@jesserockz-2024-336
    with:
      name: bluetooth-proxy
      version: ${{ needs.build-device-firmware.outputs.version }}
    secrets: inherit
